## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Isabel Do Rio Negro,BR,-0.4139,-65.0192,80.89,79,100,1.30,overcast clouds
1,1,Acapulco,MX,16.8634,-99.8901,85.82,62,0,8.05,clear sky
2,2,Kenai,US,60.5544,-151.2583,28.45,100,100,4.61,overcast clouds
3,3,Jamestown,US,42.0970,-79.2353,41.09,52,100,15.01,overcast clouds
4,4,Nikolskoye,RU,59.7035,30.7861,22.87,94,98,10.56,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Isabel Do Rio Negro,BR,-0.4139,-65.0192,80.89,79,100,1.30,overcast clouds
1,1,Acapulco,MX,16.8634,-99.8901,85.82,62,0,8.05,clear sky
5,5,Rikitea,PF,-23.1203,-134.9692,76.93,73,0,20.45,light rain
6,6,Celestun,MX,20.8667,-90.4000,76.91,66,100,15.86,overcast clouds
7,7,Esperance,AU,-33.8667,121.9000,62.44,69,2,11.59,clear sky
11,11,Coquimbo,CL,-29.9533,-71.3436,71.33,68,0,13.80,clear sky
14,14,Chuy,UY,-33.6971,-53.4616,77.58,61,0,12.91,clear sky
19,19,East London,ZA,-33.0153,27.9116,71.64,76,100,11.90,overcast clouds
23,23,Porto Novo,BJ,6.4965,2.6036,84.02,79,100,10.49,overcast clouds
24,24,Sur,OM,22.5667,59.5289,68.47,51,0,2.21,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have 
#empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Isabel Do Rio Negro,BR,-0.4139,-65.0192,80.89,79,100,1.30,overcast clouds
1,1,Acapulco,MX,16.8634,-99.8901,85.82,62,0,8.05,clear sky
5,5,Rikitea,PF,-23.1203,-134.9692,76.93,73,0,20.45,light rain
6,6,Celestun,MX,20.8667,-90.4000,76.91,66,100,15.86,overcast clouds
7,7,Esperance,AU,-33.8667,121.9000,62.44,69,2,11.59,clear sky
...,...,...,...,...,...,...,...,...,...,...
705,705,Bulawayo,ZW,-20.1500,28.5833,65.10,94,100,11.70,light rain
706,706,Santa Ana,US,33.7456,-117.8678,78.40,24,75,0.00,broken clouds
707,707,Ormara,PK,25.2088,64.6357,66.60,42,0,5.44,clear sky
709,709,Batemans Bay,AU,-35.7167,150.1833,68.09,92,97,5.03,overcast clouds
713,713,Kisangani,CD,0.5167,25.2000,75.09,88,100,2.17,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Isabel Do Rio Negro,BR,80.89,overcast clouds,-0.4139,-65.0192,
1,Acapulco,MX,85.82,clear sky,16.8634,-99.8901,
5,Rikitea,PF,76.93,light rain,-23.1203,-134.9692,
6,Celestun,MX,76.91,overcast clouds,20.8667,-90.4000,
7,Esperance,AU,62.44,clear sky,-33.8667,121.9000,
11,Coquimbo,CL,71.33,clear sky,-29.9533,-71.3436,
14,Chuy,UY,77.58,clear sky,-33.6971,-53.4616,
19,East London,ZA,71.64,overcast clouds,-33.0153,27.9116,
23,Porto Novo,BJ,84.02,overcast clouds,6.4965,2.6036,
24,Sur,OM,68.47,clear sky,22.5667,59.5289,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")  
        
hotel_df.head(10)

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Isabel Do Rio Negro,BR,80.89,overcast clouds,-0.4139,-65.0192,Hotel GSA
1,Acapulco,MX,85.82,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
5,Rikitea,PF,76.93,light rain,-23.1203,-134.9692,People ThankYou
6,Celestun,MX,76.91,overcast clouds,20.8667,-90.4000,Posada Lilia
7,Esperance,AU,62.44,clear sky,-33.8667,121.9000,Hospitality Esperance
11,Coquimbo,CL,71.33,clear sky,-29.9533,-71.3436,Hostel Del Puerto
14,Chuy,UY,77.58,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza
19,East London,ZA,71.64,overcast clouds,-33.0153,27.9116,Tu Casa
23,Porto Novo,BJ,84.02,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
24,Sur,OM,68.47,clear sky,22.5667,59.5289,Sur Plaza Hotel

In [19]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Isabel Do Rio Negro,BR,80.89,overcast clouds,-0.4139,-65.0192,Hotel GSA
1,Acapulco,MX,85.82,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
5,Rikitea,PF,76.93,light rain,-23.1203,-134.9692,People ThankYou
6,Celestun,MX,76.91,overcast clouds,20.8667,-90.4000,Posada Lilia
7,Esperance,AU,62.44,clear sky,-33.8667,121.9000,Hospitality Esperance
...,...,...,...,...,...,...,...
705,Bulawayo,ZW,65.10,light rain,-20.1500,28.5833,4 On Housman Backpackers
706,Santa Ana,US,78.40,broken clouds,33.7456,-117.8678,Santa Ana Travel Inn
707,Ormara,PK,66.60,clear sky,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
709,Batemans Bay,AU,68.09,overcast clouds,-35.7167,150.1833,Batemans Bay Marina Resort
713,Kisangani,CD,75.09,overcast clouds,0.5167,25.2000,Grand Ramela Hotel

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))